ul, ol {
    list-style:none;
}

.nav li {
    float:left;
    border-right: 1px solid rgb(34, 148, 255);
}

.nav li:last-child{
    border: initial;
}

.nav li a {
    background-color:#c5c5c5;
    color:rgb(34, 148, 255);
    text-decoration:none;
    padding:10px 12px;
    display:inline-block;
}

.nav li ul li a{
    width: 93px;
}

.nav li a:hover {
    color: black;
    font-weight: bold;
}

.nav li ul {
    display:none;
    position:absolute;
}

.nav li ul li{
    float: none;
    border: initial;
    font-weight: initial;
    position: relative;
    border-bottom: 1px solid rgb(34, 148, 255);
}

.nav li ul li:last-child{
    border: none;
}

.nav li:hover > ul{
    display: block;
}